*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    width: 100vw;
    height: auto;
    flex-direction: column;
}

.header{
    width: 82vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
    
}

.content{
    width: 100vw;
    height: 88vh;
    display: flex;
    background-image: url(./photos/background.png);
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: end;
    justify-content: center;
    align-items: center;

}

.main-content{
    width: 82vw;
    height: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-content h1{
    font: Steradian TRIAL;
    font-weight: 700;
    font-size: 64px;
    line-height: 83.2px;
    color: #2559D2;
    margin-bottom: 20px;
}

.logo{
    width: 132px;
    height: 42px;
    display: flex;
    background-image: url(./photos/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 50px;
}

.navigation ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 275px;
    height: 41px;
    font: Steradian TRIAL;
    font-weight: 400;
    line-height: 20.8px;
    align-items: center;
    cursor: pointer;

}

.buttons{
    width: 265px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

#login{
    width: 109px;
    height: 34px;
    border-radius: 5px;
    border: 0.5px solid #2559D2;
    background-color: white;
    color: #2559D2;
    cursor: pointer;

}

#register{
    width: 128px;
    height: 34px;
    border-radius: 5px;
    border: 0.5px solid #2559D2;
    background-color: #2559D2;
    color: white;
    cursor: pointer;

}

#start{
    width: 384px;
    height: 71px;
    background-color: #2559D2;
    color: white;
    border-radius: 10px;
    border: none;
}