*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    width: 100vw;
    height: auto;
    flex-direction: column;
}

.header{
    width: 82vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
    
}

.content{
    width: 100vw;
    height: 92vh;
    display: flex;
    background-image: url(./photos/background.png);
    background-repeat: no-repeat;
    background-size: 65vw;  
    background-position: right;
    justify-content: center;
    align-items: center;

}

.main-content{
    width: 82vw;
    height: 88%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-content h1{
    font: Steradian TRIAL;
    font-weight: 700;
    font-size: 64px;
    line-height: 83.2px;
    color: #2559D2;
    margin-bottom: 20px;
}

.first-paragraph{
    color: #00000099;
    font-weight: 400;
    font-size: 20px;
} 

.second-paragraph{
    color: #00000099;
    font-weight: 400;
    font-size: 16px;
} 

.logo{
    width: 132px;
    height: 42px;
    display: flex;
    background-image: url(./photos/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 50px;
}

.navigation a{
    color: #000000;
    text-decoration: none;
}

.navigation ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 275px;
    height: 41px;
    font: Steradian TRIAL;
    font-weight: 400;
    line-height: 20.8px;
    align-items: center;
    cursor: pointer;
}

.black-text{
    color: #000000;
}

.mini-border{
    width: 384px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    width: 265px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

#login{
    width: 109px;
    height: 34px;
    border-radius: 5px;
    border: 0.5px solid #2559D2;
    background-color: white;
    color: #2559D2;
    cursor: pointer;

}

#register{
    width: 128px;
    height: 34px;
    border-radius: 5px;
    border: 0.5px solid #2559D2;
    background-color: #2559D2;
    color: white;
    cursor: pointer;

}

#start{
    width: 384px;
    height: 71px;
    background-color: #2559D2;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    font-weight: 700;
}

.instructions-container{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ins-content{
    width: 82vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.top-content{
    background-color: white;
    width:82vw;
    height: 275px;
}

.bottom-content{
    width: 82vw;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

#card{
    width: 325px;
    height: 400px;
    border-radius: 10px;
    background-color: red;
}

.first-card{
    background-image: url(./photos/first-card.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-card{
    background-image: url(./photos/second-card.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.third-card{
    background-image: url(./photos/third-card.jpeg);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.upper-content{
    width: 82vw;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.icon-box{
    width: 50vw;
    height: 52px;
    background-image: url(./photos/icon.svg);
    background-repeat: no-repeat;
}

.icon-box h1{
    margin-left: 80px;
}

.upper-content h1{
    font-size: 40px;
    color: #000000;
    font-weight: 700;
    line-height: 52px;
}


.lower-content p{
    font-size: 16px;
    color: #00000099;
    line-height: 20.8px;
    font-weight: 400;
}

.lower-content{
    width: 82vw;
    height: 100px;
    display: flex;
    align-items: flex-end;
}

.leaderboard-container{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.lead-content{
    width: 82vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}

.leaderboard{
    width: 82vw;
    height: 620px;
    background-color: #2559D2;
    border-radius: 20px;
}

#instruction{
    margin-top: 40px;
}

#second-start{
    width: 280px;
    height: 50px;
    background-color: #2559D2;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

